/*
 * Device Tree Overlay for Nordic Airpad Demo
 * Board: nRF52840 DK
 * IMU: ICM-42670-P on I2C0
 */

/* I2C Pin Configuration */
&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
			        <NRF_PSEL(TWIM_SCL, 0, 27)>;
			bias-pull-up;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
			        <NRF_PSEL(TWIM_SCL, 0, 27)>;
			low-power-enable;
			bias-pull-up;
		};
	};

	/* I2C1 Pin Configuration for MGC3130 */
	i2c1_default: i2c1_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 30)>,
			        <NRF_PSEL(TWIM_SCL, 0, 31)>;
			bias-pull-up;
		};
	};

	i2c1_sleep: i2c1_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 30)>,
			        <NRF_PSEL(TWIM_SCL, 0, 31)>;
			low-power-enable;
			bias-pull-up;
		};
	};
};

/* I2C Bus Configuration */
&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;  /* 100 kHz */

	/* ICM-42670-P IMU */
	icm42670p: icm42670p@68 {
		compatible = "invensense,icm42670p";
		reg = <0x68>;
		status = "okay";

		/* Sensor configuration */
		accel-hz = <100>;
		accel-fs = <16>;    /* ±16g full scale */
		gyro-hz = <100>;
		gyro-fs = <2000>;   /* ±2000 dps full scale */
	};
};

/* I2C1 Bus Configuration for MGC3130 */
&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;  /* 100 kHz */
};
